// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.
header {
  background: $white;
  padding: 0 45px;
}

@media (max-width: 380px) {
  header {
    padding: 0px !important;
  }
}

.navbar {
  max-height: 104px;
  background: $white;
}

.navbar-expand-lg .navbar-brand img {
  height: 51px;
}

.navbar-nav .nav-link {
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  transition: all 0.15s linear;
  line-height: 104px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #05183a;
}

.phone {
  font-weight: 600;
  font-size: 17px;
  margin-right: 43px;
}

.d-flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1350px) {
  .phone {
    display: none;
  }
}

.btn {
  font-family: "Fira Sans", sans-serif;
  //   padding-left: 38px;
  padding: 0px 38px 0px 38px;
  text-transform: capitalize;
  //   padding-right: 38px;
  font-weight: 500;
  //   color: #718096;
  border: 1px solid transparent;
  font-size: 17px;
  font-style: normal;
  height: 60px;
  line-height: 60px;
  letter-spacing: 0px;
  border-radius: 0;
  overflow: hidden;
}

.btn-book {
  font-family: "Fira Sans", sans-serif;
  padding: 14px 26px 14px 26px;
  font-weight: 500;
  border: 1px solid transparent;
  line-height: 38px;
  overflow: hidden;
}

.x-shadow {
  box-shadow: none;
}

.f-norm {
  font-weight: normal;
}

.sel-act {
  cursor: pointer;
  border-radius: 0px !important;
  &:hover {
    background-color: rgba(63, 81, 181, 0.1);
  }

  &:active {
    color: $primary;
    background-color: transparent;
  }
}

.text-brown {
  color: $brown;
}

.top-left {
  position: absolute;
  top: 15px;
  left: 10px;
}

.w-160 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px 0px 0px 4px;
}

.w-50 {
  min-width: 40%;
}

.mh-80 {
  min-height: 80%;
}

// .footer-contact {
//   position: relative;
//   top: -12.25rem;

//   .footer-card {
//     position: absolute;
//     background-color: #2d3652;
//     border-radius: 0.9375rem;
//     text-align: center;
//     padding: 3.125rem 0.9375rem 2.8125rem 0.9375rem;
//     z-index: 999;

//     .feather-footer {
//       width: 3.125rem;
//       height: 3.125rem;
//       background-color: #ff743c;
//       border-radius: 3.125rem;
//       line-height: 1.5rem;
//       font-size: 1.5rem;
//       text-align: center;
//       color: #fff;
//     }
//   }
// }

// Testimony
.testimonial-area-two {
  position: relative;
  background-color: #2d3652;
}

.testimonial-area-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(../img/testimonial/bg-shape2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.testimonial-area-two .owl-nav .owl-prev,
.testimonial-area-two .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15%;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px;
  color: #fff !important;
  font-size: 24px !important;
  background-color: $brown !important;
  opacity: 0.8;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.testimonial-area-two .owl-nav .owl-prev {
  left: 30%;
}

.testimonial-area-two .owl-nav .owl-prev:hover {
  opacity: 1;
}

.testimonial-area-two .owl-nav .owl-next {
  right: 60%;
}

.testimonial-area-two .owl-nav .owl-next:hover {
  opacity: 1;
}

.testimonial-card-content {
  text-align: center;
  margin-left: 115px;
}

.testimonial-card-content h3 {
  font-size: 24px;
  color: $brown;
}

.testimonial-card-content p {
  color: #fff;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.testimonial-img-2 img {
  border-radius: 15px;
  width: 370px !important;
}

.testimonial-icon {
  position: absolute;
  top: 40%;
  left: 22%;
}

.testimonial-icon i {
  font-size: 110px;
  color: #3e4660;
}

.testimonial-bottom {
  border-radius: 0 0 0 170px;
  position: relative;
  padding-bottom: 200px;
}

.testimonial-bottom::before {
  content: "";
  left: 0;
  top: auto;
  position: absolute;
  background: #ffffff;
  height: 17%;
  bottom: -100px !important;
  -webkit-transform: skewY(175deg);
  transform: skewY(175deg);
  width: 100%;
  z-index: 1;
}
